.button {
  display: block;
  width: 100%;
  margin: 14px auto;
  padding: 12px 0;
  color: var(--black-color);
  font-size: 13px;
  line-height: 13px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button_link {
  color: var(--main-color);
  text-decoration: underline;
  background-color: transparent;
  border-radius: 0;
}

.button_primary {
  color: var(--white-color);
  background-color: var(--main-color);
}

.button_icon {
  width: 24px;
  height: 24px;
  margin: 0 8px;
  padding: 0 4px;
}

.button_transparent {
  background-color: transparent;
}
