.login-form__alternative-button {
  margin: 0 auto;
  padding: 0;
  font-size: 11px;
  line-height: 11px;
}

.user-profile .form {
  width: 510px;
  margin-left: -64px;
  box-shadow: none;
}

.user-profile__avatar {
  width: 130px;
  height: 130px;
  margin: auto;
}

.user-profile__user-name {
  padding: 20px 0;
}

.user-profile .form__group {
  display: flex;
  border-bottom-color: var(--border-color);
}

.user-profile .form__group:last-child {
  display: flex;
  border: none;
}

.user-profile .form__label {
  color: var(--text-color);
  font-size: 13px;
  line-height: 13px;
}

.user-profile .form__control {
  color: var(--text-color);
  font-size: 13px;
  line-height: 13px;
  text-align: right;
  background-color: transparent;
}

.user-profile .form__control[disabled] {
  color: var(--grey-color);
}

.user-profile .button {
  text-align: left;
  text-decoration: none;
  border-bottom: 1px solid var(--border-color);
}

.user-profile__save-data-button {
  text-align: center !important;
}

.user-profile__go-back-panel {
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 100%;
  background-color: var(--second-background-color);
}

.user-profile__go-back-button {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  color: var(--white-color);
  font-size: 33px;
  text-align: center;
  border-radius: 50%;
}
