.chat__search-form-control {
  height: 34px;
  color: var(--grey-color);
  font-size: 12px;
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 8px;
}

.chat__search-form-control::placeholder {
  background: url("/static/images/magnifying-glass-solid.svg") 35% no-repeat;
}

.chat__search-form-control:focus::placeholder {
  color: #0000;
  background-image: none;
}

.chat__search-form {
  padding: 10px;
}
