.chat__item {
  display: flex;
  flex-flow: row nowrap;
  margin: 4px;
  padding: 6px 10px;
  border-top: 1px solid var(--border-color);
}

.chat-item {
  cursor: pointer;

  &[data-active="true"] {
    background-color: var(--background-color);
  }

  &__avatar {
    flex: none;
    margin: 8px 0;
    margin-right: 4px;
  }

  &__last-message-detials {
    width: 100%;

    & > * {
      display: inline-flex;
      width: 100%;
      margin-bottom: 4px;
    }
  }

  &__title {
    color: var(--text-color);
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
  }

  &__last-message-content {
    color: var(--grey-color);
    font-size: 12px;
    line-height: 15px;
  }
}
