.chat__item {
  display: flex;
  flex-flow: row nowrap;
  margin: 4px;
  padding: 6px 10px;
  border-top: 1px solid var(--border-color);
}

.chat-item {
  cursor: pointer;
}

.chat-item[data-active="true"] {
  background-color: var(--background-color);
}

.chat-item__avatar {
  flex: none;
  margin: 8px 4px 8px 0;
}

.chat-item__last-message-detials {
  width: 100%;
}

.chat-item__last-message-detials > * {
  display: inline-flex;
  width: 100%;
  margin-bottom: 4px;
}

.chat-item__title {
  color: var(--text-color);
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
}

.chat-item__last-message-content {
  color: var(--grey-color);
  font-size: 12px;
  line-height: 15px;
}
