.form__group {
  width: 100%;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 16px;
  min-height: 39px;

  &:after {
    font-size: 8px;
    line-height: 8px;
    display: block;
    color: red;
    margin-bottom: -10px;
    padding-top: 2px;
    content: attr(data-error);
  }
}
