.modal__wrapper {
  position: absolute;
  top: 0;
  z-index: 999;
  background-color: rgb(0 0 0 / 20%);
}

.modal {
  position: relative;
  background-color: var(--white-color);
}

.modal__close-btn {
  position: absolute;
  right: 0;
}

.modal__body {
  min-height: auto;
}

.modal__header {
  padding: 20px 0;
}
