.message {
  display: flex;
  margin-bottom: 10px;
}

.message[currentUser] {
  justify-content: flex-end;
}

.message[firstOfTheDay] {
  margin-top: 20px;
}

.message[date1]::before {
  position: absolute;
  width: 100px;
  margin: 20px auto;
  color: var(--black-color);
  color: var(--grey-color);
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  content: attr(date);
}

.message__container {
  width: 402px;
  overflow: hidden;
  background-color: var(--second-background-color);
  border-radius: 12px;
}

.message[currentUser] .message__container {
  background-color: var(--background-color);
}

.message[hasmedia] .message__container {
  position: relative;
  max-width: 402px;
}

.message:not([hasContent]).message__container {
  display: flex;
  flex-direction: column;
}

.message__content {
  position: relative;
  padding: 8px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.message__image {
  max-width: 402px;
}

.message[currentUser] .message__time::before {
  content: "✓";
}

.message[hasMedia] .message__time {
  position: relative;
  bottom: 20px;
  width: 70px;
  margin: auto 0 auto auto;
  text-align: center;
}

.message .message__firstOfTheDay > .date {
  font-size: 16px;
}

.message[hasMedia] .message__time .date {
  margin-right: 8px;
  margin-bottom: 4px;
  padding: 2px;
  color: #fff;
  background-color: var(--grey-color);
  border-radius: 5px;
}

.message:not([hasMedia]) .message__time {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  float: right;
  height: 100%;
  padding-right: 8px;
  padding-bottom: 8px;
  shape-outside: inset(calc(100% - 22px) 25% 25%);
}

.message .message__firstOfTheDay {
  position: absolute;
  display: inline-block;
  width: 100%;
  margin-top: -20px;
  text-align: center;
}
