.message {
  margin-bottom: 10px;
  display: flex;
}

.message[thisUser] {
  justify-content: flex-end;
}

.message[firstOfTheDay] {
  margin-top: 20px;
}

.message[date1]::before {
  width: 100px;
  color: var(--black-color);
  color: var(--grey-color);
  text-align: center;
  content: attr(date);
  margin: 20px auto;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
}

.message__container {
  width: 402px;
  background-color: var(--second-background-color);
  border-radius: 12px;
  overflow: hidden;
}

.message[thisUser] .message__container {
  background-color: var(--background-color);
}

.message[hasmedia] .message__container {
  max-width: 402px;
  position: relative;
}

.message:not([hasContent]).message__container {
  flex-direction: column;
  display: flex;
}

.message__content {
  color: var(--text-color);
  padding: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  position: relative;
}

.message__image {
  max-width: 402px;
}

.message[thisUser] .message__time::before {
  content: "✓";
}

.message[hasMedia] .message__time {
  width: 70px;
  text-align: center;
  margin: auto 0 auto auto;
  position: relative;
  bottom: 20px;
}

.message[hasMedia] .message__time .date {
  color: #fff;
  background-color: var(--grey-color);
  border-radius: 5px;
  margin-bottom: 4px;
  margin-right: 8px;
  padding: 2px;
}

.message:not([hasMedia]) .message__time {
  float: right;
  height: 100%;
  shape-outside: inset(calc(100% - 22px) 25% 25%);
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 8px;
  padding-right: 8px;
  display: flex;
}

.message .message__firstOfTheDay {
  width: 100%;
  text-align: center;
  margin-top: -20px;
  display: inline-block;
  position: absolute;
}
