.chat-header {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid var(--secondary-color);

  &[data-empty] > * {
    display: none;
  }

  &__title {
    margin-left: 10px;
  }

  &__menu {
    width: 25px;
    height: 25px;
    margin: 0;
    margin-left: auto;
    background: url("/static/public/images/ellipsis-vertical-solid.svg") no-repeat 50%;
  }
}
