.chat-item__unread-count {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: auto;
  color: var(--white-color);
  font-size: 11px;
  line-height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
}

.chat-item__unread-count.hidden {
  display: none;
}
